/* ul#tables {
	list-style: none;
	padding: .8em 1em;
	margin: 0;
	border-bottom: 1px solid #ccc;
} */

#sensor {
	box-sizing: border-box;
	padding: 12px 5px;
	width: 20px;
	height: 45px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

#sensor::after {
	font-family: "FontAwesome";
	content: "\f08d";
}

textarea {
	resize: vertical;
}

#tables a[href*="&select="]::before, .rtl #tables a[href*="&select="]::after {
	padding-right: 4px;
}

#tables a[href*="&select="] {
	font-size: 14px;
}

#tables a[href*="&table="]::before, .rtl #tables a[href*="&table="]::after {
	content: "\f1c0";
	color: #337ab7;
	padding-right: 4px;
}

#tables a[href*="&table="] {
	font-size: 0;
}

pre.sqlarea {
	resize: both !important;
}